@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}
body{
  background-image: url('https://cdna.artstation.com/p/assets/images/images/047/517/388/original/inkpendude-portal-storm.gif?1647794887');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}
button {
  background-color: #f8cb01;
  border-radius: 0.5rem;
  border: 1px solid #ffe260;
  color: #fff;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  transition-duration: 0.4s;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}

header {
  padding-top: 50px;
  padding-left: 2%;
}

header h1 {
  font-size: 4em;
  color: #fff;
}

main {
  padding: 35px 10%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.leaderboard-section{
  width: 100%;
}

.recent-scores {
  display: flex;
  justify-content: space-between;
}

.recent-scores h2 {
  font-size: 1.5em;
  color: #fff;
}
.recent-scores button{
  align-self: center;
}
.leaders {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid #f5e9b4;
  margin-top: 30px;
  max-height: 500px;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.leaders::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.leaders {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.leaders div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: 100%;
}

.leaders div:nth-child(odd) {
  background-color: #f5e9b4;
}

.leaders div:nth-child(even) {
  background-color: white;
}
.leaders div:nth-child(1) {
  background-color: rgb(108, 247, 108);
}

.add-score{
  width: 80%;
}
.add-score h2 {
  font-size: 1.5em;
  color: #fff;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}
form button {
  align-self: flex-end;
}
form span{
  color: rgb(108, 247, 108);
  font-size: 1em;
}
input {
  padding: 8px;
  outline: none;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    gap: 10%;
  }
  .leaderboard-section{
    width: 50%;
  }
  .add-score{
    width: 30%;
  }

}
