* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-top: 50px;
  padding-left: 2%;
}
header h1 {
  font-size: 4em;
}
main {
  padding: 35px 10%;
  display: flex;
  gap: 150px;
}
.recent-scores {
  display: flex;
  gap: 50px;
}
.recent-scores h2 {
  font-size: 2em;
}
.recent-scores button {
  padding: 5px 8px;
  align-self: center;
  font-weight: 700;
  background-color: inherit;
}
.add-score h2 {
  font-size: 2em;
}
form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 300px;
  row-gap: 20px;
}
form input {
  padding: 6px;
}

form button {
  align-self: flex-end;
  background-color: inherit;
  padding: 5px 10px;
}
