@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  padding-top: 50px;
  padding-left: 2%;
}

header h1 {
  font-size: 4em;
}

main {
  padding: 35px 10%;
  display: flex;
  gap: 150px;
}

button {
  background-color: #f8cb01;
  border-radius: 0.5rem;
  border: 1px solid #ffe260;
  color: #fff;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  transition-duration: 0.4s;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover {
  transform: scale(1.2);
}
.recent-scores {
  display: flex;
  gap: 50px;
}

.recent-scores h2 {
  font-size: 2em;
}

.leaders {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 500px;
  border: 1px solid #f5e9b4;
  margin-top: 30px;
  max-height: 500px;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.leaders::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.leaders {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.leaders div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: 100%;
}

.leaders div:nth-child(odd) {
  background-color: #f5e9b4;
}

.leaders div:nth-child(even) {
  background-color: white;
}

.add-score h2 {
  font-size: 2em;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 300px;
  row-gap: 20px;
}
form button {
  align-self: flex-end;
  /* padding: 5px 10px; */
}
input {
  padding: 8px;
  outline: none;
}
